/* Builder Layout Overrides */

@-webkit-keyframes bounceDown {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  50% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.scroll-models {
  text-align: center;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;

  p {
    font-weight: bold;
    margin: 0;
    font-size: 20px;
  }

  svg.fa-chevron-down {
    max-width: 30px;
    width: 30px;
    max-height: 30px;
    height: 30px;
    -moz-animation: bouncedown 2s infinite;
    -webkit-animation: bouncedown 2s infinite;
    animation: bounceDown 2s infinite;
  }
}

.acf-cont {
  .row {
    padding: 0 !important;
  }

  img {
    border-radius: 20px;
  }
}

.youtube-col {
  margin-bottom: 20px;
}

.full-image {
  img {
    width: 100%;
  }
}

.hero-text {
  color: #eee;
  font-size: 6em;
  text-transform: uppercase;
  text-align: center;
}

.full-width {
  padding: 0 !important;

  .row {
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .col-lg-12 {
    padding: 0 !important;
  }
}

.half-layout {
  img {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 630px) {
  .full-width {
    padding-top: 0 !important;

    .row {
      max-width: 100% !important;
      padding-top: 0 !important;
    }

    .col-lg-12 {
      padding: 0 !important;
    }
  }
}

@media only screen and (max-width: 630px) {
  .hero-text {
    font-size: 3em;
  }
}

/* END Builder Layout Overrides */

/* Promo Boxes */

.home-boxes {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px;
  margin-bottom: 0;
  padding: 20px;
  top: -40px;
  text-align: center;
  background-color: #fff;
  transition: all 0.2s ease-in-out;

  .button {
    width: 100%;
    margin: 10px 0 0 0 !important;
  }

  h3 {
    font-size: 17px;
  }

  h1,
  h2,
  h3,
  p {
    color: theme-color("primary");
    margin: 0;
    padding: 0;
  }

  svg {
    max-width: 10px;
    width: 10px;
  }

  img {
    min-width: auto;
    display: block;
    position: relative;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .home-boxes:hover {
    box-shadow: 0 0 20px #aaa;
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 768px) {
  .home-boxes {
    margin-bottom: 30px;
  }

  .offset .row,
  .offset .container {
    margin-bottom: -30px;
  }
}

/* END Promo Boxes */

/* Blog Feed */

.blog-feed {
  padding-top: 30px !important;

  .row {
    padding: 0 !important;
  }

  article {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px #ccc;
  }

  article:hover {
    box-shadow: 0 0 10px #b1b1b1;
  }

  img {
    width: 100%;
    height: inherit;
    border-radius: 10px;
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
  }

  p {
    font-size: 14px;
  }

  .post-meta {
    font-size: 12px;
    color: theme-color("primary");
    font-weight: 500;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
  }

  .button {
    width: 100%;
    text-align: center;
    background-color: #eee;
    color: theme-color("primary");
    font-weight: bold;
    margin-top: 10px;
  }
}

.more-news {
  font-weight: 600;
  margin-bottom: 20px;
  padding: 0 15px 20px 15px;
  border-bottom: 1px solid #ddd;

  a {
    font-size: 17px;
    line-height: 30px;
  }
}

.blog .header {
  border-bottom: 1px solid #ccc;

  h2 {
    display: inline-block;
  }

  a {
    float: right;
  }
}

/* END Blog Feed */

/* Slick Carousel */

button.slick-arrow.slick-disabled {
  opacity: 0.3;
}

.slick-next,
.slick-prev {
  position: absolute;
  display: block;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: #000;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 999;
  width: 25px;
  height: 25px;
}

.carousel-title {
  margin-bottom: 20px;
}

.slick-slide {
  padding: 0 10px;
  overflow: hidden;
  outline: 0;

  span {
    border-radius: 20px;
    display: block;
    overflow: hidden;
  }

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}

.slick-previous {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-prev::before {
  content: url(http://fleetnew-co-uk.stackstaging.com/wp-content/uploads/2021/06/chevron-circle-left-solid.svg);
}

.slick-next::before {
  content: url(http://fleetnew-co-uk.stackstaging.com/wp-content/uploads/2021/06/chevron-circle-right-solid.svg);
}

@media (max-width: 768px) {
  .carousel-con {
    padding: 0 40px;
  }

  .slick-prev::before,
  .slick-next::before {
    color: #777;
    font-size: 40px;
    text-shadow: none;
  }
}

/* END Slick Carousel */

/* Page Slider */

.slider-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  max-width: 500px;
  width: 50%;
}

.slider-image {
  width: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 15px;
  width: 15px;
}

.carousel-control-prev,
.carousel-control-next {
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, 0.6);
  top: 50%;
  position: absolute;
  transform: translateY(-50%);

  svg {
    color: theme-color("primary");
    width: 30px;
    max-width: 30px;
  }
}

.carousel-indicators {
  position: static;
  margin: 0;

  li {
    width: inherit;
    display: inline-block;
    padding: 0;
    margin: 0 !important;
    height: inherit;
    border: 0;

    img {
      display: block;
      opacity: 0.5;
    }

    picture {
      display: block;
    }
  }

  li.active {
    img {
      opacity: 1;
    }
  }
}

/* END Page Slider */

/* Page Accordion */

.accordion-title svg {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 20px;
  max-width: 20px;
  height: 20px;
  max-height: 20px;
  float: right;
}

.accordion-title.collapsed svg {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.page-accordion {
  width: 100%;

  .accordion-maintitle {
    padding-bottom: 20px;
  }

  .accordion-title {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px solid #eee;

    h3 {
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }
  }

  .accordion-content-cont {
    width: 100%;

    .accordion-content {
      margin-bottom: 1rem;
    }
  }
}

/* END Page Accordion */

/* Readmore */

.read-more-content {
  display: -webkit-box;
  max-height: 3.2em;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.read-more-toggle {
  display: none;
}

.read-more-toggle-label {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: theme-color("primary");
  width: 100%;
  background: transparent;
  margin: 0;
  padding: 20px 0 15px 0;
}

.product-header-archive .read-more-toggle-label {
  background: #fff;
  background: linear-gradient(0deg, #fff 60%, #fff0 100%);
}

.read-more-toggle:checked + .read-more-content {
  display: block;

  /* css animation won't work with "auto"; set to some height larger than the content */

  max-height: inherit;
}

.read-more-toggle ~ .read-more-toggle-label::after {
  content: "More";
}

.read-more-toggle:checked ~ .read-more-toggle-label::after {
  content: "Less";
}

/* END Readmore */

/* Car Search */

.car-search {
  margin-top: 20px;

  .form-item.mb10-sm {
    display: inline-block;
    margin-right: 10px;
    max-width: 100%;
  }

  .tab-pane {
    padding: 15px 0;
  }

  select {
    border: none;
    padding: 4px;
    min-width: 280px;
    max-width: 100%;
    border-radius: 6px;
    background-color: #fff !important;
  }

  .search-rows {
    padding: 0 !important;
  }

  .search-tab-cont {
    background-color: theme-color("secondary");
  }

  .nav-link {
    background-color: #999;
    color: #fff;
    margin-right: 5px;
    font-weight: 600;
  }

  .nav-link.active {
    background-color: theme-color("secondary");
    color: #766008;
  }
}

@media screen and (max-width: 600px) {
  .car-search .nav-item a {
    font-size: 13px;
  }

  .form-item.mb10-sm {
    margin-bottom: 10px;
  }
}

/* END Car Search */
