.button,
.inline-button {
  background: theme-color("primary");
  padding: 10px 20px;
  border-radius: 5px;
  border: none !important;
  display: inline-block;
  color: #fff !important;
  box-shadow: 0 0 7px #2f3490;
  text-align: center;
  font-weight: bold;
  line-height: 1.4em;
  margin-bottom: 20px;
}

.button:hover,
.inline-button a:hover {
  background: theme-color("secondary");
  box-shadow: 0 0 7px #888;
  color: #fff;
}

.invert-button {
  background: theme-color("secondary");
}

.invert-button:hover {
  background: #888;
}

.blog-feed {
  .button {
    width: 100%;
    text-align: center;
    background: none;
    background-color: #eee;
    color: theme-color("primary") !important;
    font-weight: bold;
    margin-top: 10px;
    box-shadow: none;
  }
}

.search-form {
  button {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    vertical-align: middle;
    max-height: 38px;
    background-color: #197d9e;
    line-height: 38px;
    border: 0;
    color: #fff;
  }
}

.content-button {
  display: inline-block;
  margin-right: 10px;
}

.readmore-button .button {
  background: #e7b900;
  box-shadow: none;
}
