.trustpilot {
  margin-bottom: 20px;
}

.pre-footer {
  width: 100%;
  margin: 0 auto;
  background-color: theme-color("primary");

  .row {
    border-bottom: 1px solid #fff3;
  }

  h2 {
    font-size: 50px;
  }

  h1,
  h2,
  h3,
  p {
    color: #fff;
  }

  .footer-logo {
    max-width: 150px;
    margin: 0 auto;
  }
}

.footer-cta {
  text-align: center;

  .button,
  p {
    display: inline-block;
  }

  .button {
    margin: 5px 10px;
  }
}

.footer,
.footer-copyright {
  background-color: #fff;
  color: theme-color("primary");
  text-align: left;

  h3 {
    color: theme-color("primary");
    font-size: 18px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }

  li {
    list-style: none;
  }

  ul {
    padding: 0;
  }

  .footer-left {
    text-align: left;
  }

  .footer-right {
    text-align: right;
  }

  svg {
    max-width: 18px;
    max-height: 18px;
    width: 18px;
    margin: 0 3px;
    color: theme-color("secondary");
  }

  a {
    color: #000;
  }
}

.footer-copyright svg {
  color: #fff !important;
}

.footer-widget-area {
  padding-top: 30px !important;
  border-top: 5px solid theme-color("primary");

  .col-lg-3 {
    border-right: 1px solid #eee;
  }

  .col-lg-3:last-child {
    border: none !important;
  }
}

.footer-copyright {
  background-color: theme-color("primary");
  color: #fff;

  .row {
    padding: 40px 0 10px 0 !important;
    border-top: 1px solid #fff3;
  }

  .menu {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      padding: 0 10px 0 0;
      margin-right: 5px;
      font-size: 1rem;
      font-weight: normal;
      display: inline-block;
      border-right: 1px solid #fff3;
    }

    li:last-child {
      border-right: none;
      margin-right: 0;
    }
  }
}

.cards .svg-inline--fa {
  width: 40px;
  height: inherit;
}

.phone-footer,
.shop-footer {
  font-size: 1.6rem;
}

.social-footer {
  a {
    color: #000;
  }

  img {
    width: 62px;
  }

  i {
    border: 2px solid #000;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    color: #000;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 998px) {
  .footer,
  .footer-copyright,
  .footer-copyright .footer-right,
  .footer-copyright .footer-left,
  .footer-copyright .cards,
  .pre-footer {
    text-align: center !important;
  }

  .footer-copyright .cards {
    padding-top: 20px;
  }

  .footer-widget-area {
    .col-lg-4 {
      border-right: none;
      padding-bottom: 20px;
    }
  }
}
