.page-header-img img {
  border-radius: 6px;
  max-width: 100%;
  height: inherit;
  margin-bottom: 20px;
  width: 100%;
}

.sidebar .col-sm-6 {
  width: 100% !important;
  max-width: 100% !important;
  flex: 0 0 100%;
}

.sidebar-promos {
  .col-sm-6 {
    padding: 0 !important;
  }
}

.row .col-lg-12 {
  .img-100 {
    width: 100% !important;
  }
}

.treatment-boxes {
  padding: 120px 20px 20px 20px;
  background-size: auto 100%;
  -webkit-transition: all 1s ease-in-out;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;

  h3,
  p {
    z-index: 2;
    position: relative;
    color: #fff;
    font-size: 16px;
    margin: 0;
  }

  p {
    font-size: 13px;
  }
}

.row {
  padding: 20px 0 !important;
  margin: 0 auto !important;
}

.readmore-button {
  padding: 0 !important;

  .row {
    padding: 0 !important;
  }

  .button {
    border-radius: 10px 10px 0 0;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .row {
    padding: 20px 10px !important;
  }
}

.treatment-boxes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: 1;
}

.treatment-boxes:hover {
  background-size: auto 120%;
  box-shadow: 3px 3px 20px #777;
}

.pricing-table {
  width: 100%;

  th,
  td {
    width: 33%;
  }
}

.container {
  max-width: 100% !important;

  .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.banner .row {
  padding: 0 !important;
}

/* New Layout */

@media (min-width: 576px) {
  .row,
  .full-width .col-12,
  .promo-banner.container,
  .more-wavs-inner,
  .dropdown:hover .dropdown-menu {
    max-width: 540px !important;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .row,
  .full-width .col-12,
  .promo-banner.container,
  .more-wavs-inner,
  .dropdown:hover .dropdown-menu {
    max-width: 720px !important;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .row,
  .full-width .col-12,
  .promo-banner.container,
  .more-wavs-inner,
  .dropdown:hover .dropdown-menu {
    max-width: 960px !important;
    margin: 0 auto;
  }

  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 1200px) {
  .row,
  .full-width .col-12,
  .promo-banner.container,
  .more-wavs-inner,
  .dropdown:hover .dropdown-menu {
    max-width: 1140px !important;
    margin: 0 auto;
  }
}

.full-width.row {
  max-width: 100% !important;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.display-flex > [class*="col-"] {
  display: flex;
  flex-direction: column;
}
