.blog {
  article {
    border-bottom: 1px solid #eee;
  }

  .entry-title {
    margin: 0;
  }

  article:last-child {
    border-bottom: none;
  }

  .postmeta {
    margin-bottom: 10px;
    display: block;
  }
}

.post-featured-image {
  margin-bottom: 30px;

  img {
    width: 100%;
    height: inherit;
  }
}

.archive .post-cont {
  border-bottom: 1px solid #dbdbdb;

  strong {
    font-size: 14px;
  }

  header {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}

.navigation {
  margin-top: 20px;
  text-align: right;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  color: theme-color("primary");
  text-decoration: none;
}

.navigation li {
  display: inline;
}
