.sidebar-promos {
  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home-boxes {
    box-shadow: 0 0 10px #eee;
    margin-bottom: 20px;
  }
}

.intro-video {
  display: block;
  font-size: 30px;
  font-weight: bold;
  color: #fff !important;
  text-shadow: 0 0 20px #000;
}

.offset {
  padding: 0 !important;

  .row,
  .container {
    padding: 0 !important;
  }

  img {
    border-radius: 15px;
    margin-bottom: 20px;
  }
}

.ul-chevrons {
  list-style: none;

  li::before {
    content: url(https://www.alliedmobility.com/wp-content/uploads/2015/01/chevron-right-solid.svg);
    width: 7px;
    display: inline-block;
    max-width: 7px;
    margin-right: 7px;
  }
}

.page-header-full::before {
  content: "";
  background: transparent;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.img-rounded {
  border-radius: 20px;
}

.blog-image {
  width: 100%;
  height: auto;
  margin: 20px 0;
}

.magazine-embed iframe {
  max-width: 100%;
}

.magazine-cont {
  margin-bottom: 30px;
}

.child-cont {
  padding: 0 0 30px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
}

.wavs-page img {
  max-width: 100% !important;
  width: inherit !important;
  max-height: 130px !important;
}

.more-wav-table {
  margin-bottom: 10px;

  .row {
    padding: 0 0 5px 0 !important;
    margin-bottom: 5px !important;
    border-bottom: 1px solid #eee;
  }

  .wav-left,
  .wav-right {
    padding: 0 !important;
  }

  .wav-heading {
    color: theme-color("primary");
  }

  .wav-left {
    text-align: left;
    font-size: 16px;
  }

  .wav-right {
    text-align: right;
    color: theme-color("primary");
    font-weight: bold;
    font-size: 20px;
  }
}

.no-padding {
  padding: 0 !important;
}

.width-100 {
  width: 100%;
  margin-bottom: 10px;
}

.social-icon-banner {
  text-align: center;
  padding-top: 9px;
  z-index: 99;
}

.social-icons svg {
  max-width: 25px;
  width: 25px;
  max-height: 25px;
  min-height: 25px;
  margin: 0 5px;
  padding: 0;
  color: inherit;
}

.social-icon-banner .social-icons svg {
  max-width: 25px !important;
  width: 25px;
  max-height: 25px !important;
  min-height: 25px;
  margin: 0;
  padding: 5px;
  color: #fff;
}

.social-icon-banner .fa-facebook-f {
  background-color: #4164ad;
}

.social-icon-banner .fa-linkedin-in {
  background-color: #0670ae;
}

.social-icon-banner .fa-twitter {
  background-color: #53a8e6;
}

.social-icon-banner .fa-pinterest {
  background-color: #de0422;
}

.social-icon-banner .fa-google-plus-square {
  background-color: #da4a39;
}

.social-icon-banner .fa-youtube {
  background-color: #f80003;
}

.social-icon-banner .fa-instagram {
  background-color: #8038b0;
}

.social-latest {
  text-align: center;
}

.car-search .nav-link,
.car-search .nav-tabs,
.post-tabs .nav-link,
.post-tabs .nav-tabs {
  border: none !important;
}

.post-tabs .nav-tabs {
  font-size: 20px;
}

@media only screen and (max-width: 630px) {
  .post-tabs .nav-tabs {
    font-size: 18px;
  }
}

.post-section,
.post-tabs .nav-link.active,
.post-section-social,
.readmore-cont {
  background-color: #f2f2f2;
}

.post-section .row,
.row.post-tabs {
  max-width: 1140px !important;
  margin: 0 auto !important;
}

.row.post-tabs {
  width: 100%;
}

.post-section {
  padding-bottom: 30px;
  width: 100%;
}

@media only screen and (min-width: 993px) {
  .social-icon-banner {
    position: fixed;
    top: 180px;
    right: 0;
    padding-top: 0;
    margin: 0 !important;
  }

  .social-icon-banner .social-icons a {
    display: block;
  }

  .social-icon-banner .social-icons svg {
    margin: 0;
    display: block;
    max-width: 45px !important;
    width: 45px;
    max-height: 45px !important;
    min-height: 45px;
    padding: 10px;
  }
}

@media only screen and (max-width: 992px) {
  .social-icon-banner {
    text-align: center;
    padding: 9px 0;
    z-index: 99;
    position: fixed;
    width: 100%;
    margin: 0 !important;
    background-color: #fff;
    top: 0;
    box-shadow: 0 0 10px #eee;

    .social-icons a {
      display: inline-block;
    }
  }

  .pre-header {
    padding-top: 45px;
  }
}

.submenu-page {
  text-indent: 0;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;

    a {
      color: $headings-color;
    }
  }

  li::before {
    content: url(https://www.alliedmobility.com/wp-content/uploads/2015/01/chevron-right-solid.svg);
    width: 9px;
    display: inline-block;
    max-width: 9px;
    margin-right: 9px;
  }
}

.page-id-71 {
  td {
    border-bottom: 1px solid #eee;
    padding: 5px;
  }
}

.featured-post {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;

  img {
    border-radius: 20px;
    margin-bottom: 20px;
  }
}

.footer-logos {
  text-align: center;

  img {
    max-width: 200px;
  }
}

.brand.logo img {
  max-height: 154px;
}

/* brand image need to be 20px less than nav line height */

@media only screen and (min-width: 992px) {
  .banner .nav a {
    line-height: 134px;
  }
}

header.banner {
  position: relative;
  width: 100%;
  z-index: 99;

  .row {
    border-bottom: 1px solid #eee;
  }
}

.banner.full-header,
.single-car header.banner {
  position: absolute;
}

/* Dropdown needs to be the nav line height plus 45px for top */

#menu-main-nav .menu-item-has-children:hover {
  .dropdown-menu {
    backdrop-filter: blur(4px);
    background-color: #fff;
    border-top: 4px solid #e7b900 !important;
    right: 0;
    top: 85px;
    border-radius: 0 0 10px 10px;

    .dropdown-menu {
      border-top: 1px solid #fff !important;
    }

    li {
      text-align: left;
      display: block;
    }

    a {
      color: #000;
      text-shadow: none !important;
      font-weight: bold !important;
    }
  }

  .menu-heading {
    a {
      border-bottom: 1px solid #c4c4c4;
    }
  }
}

h1,
h2 {
  strong {
    font-size: 40px;
    font-weight: bold;
    color: theme-color("secondary");
    display: block;
  }
}

.page-boxes {
  text-align: left;
  min-height: 430px;

  h1,
  h2,
  h3,
  h4, {
    margin-bottom: 15px;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    color: $headings-color !important;
  }
}

.all-white {
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: #fff !important;
  }
}

.page-header-full {
  height: 600px;
  max-height: 600px;
  padding-top: 200px !important;
  background-position: center;
  position: relative;

  h1 {
    font-size: 50px;
  }

  h1,
  h2,
  p {
    color: #fff !important;
  }
}

.page-header-full .col-12::before {
  content: url(http://theminibuscentre.com/wp-content/uploads/2021/09/Minibus-chevron-down-solid.svg);
  display: block;
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: 20px;
  animation: bounceDown 2s infinite;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.home .page-header-full .col-12::before {
  bottom: 0;
}

.home .page-header-full::after {
  content: "Discover More";
  position: absolute;
  bottom: 40px;
  width: 300px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.right-align {
  text-align: right !important;
}

.promo-section {
  padding: 130px 20px !important;
  position: relative;

  h1,
  h2 {
    font-size: 50px;
  }
}

.promo-section::before {
  content: "";
  background: transparent;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.promo-banner.container {
  padding: 40px !important;
  background-position: left center !important;
  border-radius: 20px;
  background-size: 60% !important;
  background-color: theme-color("secondary");
  margin-bottom: 40px;

  .button {
    background-color: #fff;
    color: theme-color("primary") !important;
  }

  .button:hover {
    color: #888 !important;
  }

  h2 {
    font-size: 36px;
  }

  h1,
  h2,
  h3,
  p {
    color: #fff;
  }

  img {
    margin: 0 auto;
    display: block;
  }
}

@media only screen and (max-width: 998px) {
  .right-align {
    text-align: center !important;
  }

  .promo-section {
    padding: 80px 20px !important;

    h1,
    h2 {
      font-size: 30px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .promo-banner.container {
    background-position: right center !important;
    background-attachment: inherit !important;
    background-size: 600px !important;
  }

  .promo-section {
    background-attachment: inherit !important;
  }

  .acf-cont {
    img {
      margin-bottom: 20px;
    }
  }
}

.row .container .row,
.row .container .row .col-lg-12 {
  padding: 0 !important;
}

@media only screen and (max-width: 768px) {
  .page-header-full {
    padding-top: 140px !important;
    height: 550px;
    max-height: 550px;

    h1 {
      font-size: 30px;
    }

    h1,
    h2,
    p {
      width: 100%;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 630px) {
  .home-boxes {
    min-height: 360px;
  }

  .page-header-full .button {
    display: block;
    margin: 0 auto;
  }

  .post-tabs .nav-tabs {
    font-size: 14px;
    letter-spacing: -0.2px;

    a {
      padding: 0.5em;
    }
  }
}
