/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #4b66ae,
  secondary: #00428a,
);

$brand-font: "Montserrat-Light", sans-serif;
$font-family-base: $brand-font;
$gray-base: #000;
$body-color: #000;
$headings-color: #444;
$text-color: #fff;
$body-bg: #fff;
$allied-bg: #00428a;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
